In [1]:
print('hello')

hello

In [5]:
import pandas as np

# (ii) Create three arrays, reshape each, and find the mean of each array
array1 = np.array([1, 2, 3, 4, 5, 6, 7, 8, 10])
array2 = np.array([11, 12, 13, 14, 15, 16, 17, 18, 20])
array3 = np.array([21, 22, 23, 24, 25, 27, 28, 29, 30])

# Reshape each array into three sub-lists (3 rows and 3 columns)
reshaped_array1 = array1.reshape(3, 3)
reshaped_array2 = array2.reshape(3, 3)
reshaped_array3 = array3.reshape(3, 3)

reshaped_array1

<IntegerArray>
[
[1, 2, 3],
[4, 5, 6],
[7, 8, 10]
]
Shape: (3, 3), dtype: Int64

In [7]:
import pandas as pd
import numpy as np
# (vi) Create two dictionaries, convert them into dataframes, concatenate them, and calculate mean values
dict1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
dict2 = {'A': [7, 8, 9], 'B': [10, 11, 12]}

df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)

# Concatenate dataframes
concatenated_df = pd.concat([df1, df2])
print(concatenated_df)
# Calculate mean values for each key
mean_values = concatenated_df.groupby(concatenated_df.index).mean()
print("Mean values:")
mean_values

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12
Mean values:

     A    B
0  4.0  7.0
1  5.0  8.0
2  6.0  9.0